<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrcaticTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PrcaticTask.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="py-2 bg-dark border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link link-light px-2" asp-controller="Brand" asp-action="Index">
                            Марки
                            автомобилей
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light px-2">Добавить марку автомобиля</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light px-2" asp-controller="Model" asp-action="Index">
                            Модели
                            автомобилей
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light px-2">Добавить модель автомобиля</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link link-light px-2">Login</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-light px-2">Sign up</a></li>
                </ul>
            </div>
        </nav>
    </header>
   

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PrcaticTask - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
