@model Brand

<h2>Добавление марки</h2>

<form asp-action="CreateBrand" method="post">
    <div class="form-group">
        <label asp-for="BrandName">Название марки</label>
        <input asp-for="BrandName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ActiveStatus">Статус</label>
        <select asp-for="ActiveStatus" class="form-control">    
            <option value="1">Активен</option>
            <option value="0">Не активен</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
