@model List<Brand>

<h2>Все марки</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название бренда</th>
            <th>Статус</th>
            <th>Изменение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr class="@((brand.ActiveStatus == 0) ? "table-secondary" : "")">
                <td>@brand.BrandName</td>

                <td>
                    @if (brand.ActiveStatus == 1)
                    {
                        <a>Активный</a>
                    }
                    else
                    {
                        <a>Не активный</a>
                    }
                </td>
                <td>
                    <a asp-action="EditBrand" asp-route-id="@brand.Id">Редактировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>
